name: Releases

on:
  push: 
    branches: main

    
jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v3
    - run: |
        sudo apt install zip
        zip -r SourceCode.zip . 
    - uses: ncipollo/release-action@v1
      with:
        artifacts: "SourceCode.zip"
